@{
}

<h1>Add Cheese</h1>

<form method="post">
    <input name="name" type="text" placeholder="Enter Cheese Name" />
    <input name="description" type="text" placeholder="Enter a description" />
    <input type="submit" value="Add Cheese" />
    <p>@ViewBag.error</p>
</form>